body {
  margin: 0;
}

.container {
  margin-left: 20%;
}

/* ===================== SIDE BAR ================= */
.sidebar {
  width: 20%;
  border-right: 2px solid black;
  position: fixed;
  height: 100%;
}

.active {
  background-color: #E5E5E5;
}

.sidebar .active {
  border-left: 3px solid black;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a:hover:not(.active) {
  background-color: rgba(0, 0, 0, 0.1);
}


/* ================== TOP BAR =========================== */

@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";

.topbar {
  height: fit-content;
  border-bottom: 2px solid black;
  padding-right: 20px;
}

input {
  width: 40%;
  height: 25px;
  margin: 20px 0 20px 15%;
  border-radius: 10px;
  padding-left: 10px;
}

input::-webkit-input-placeholder {
  font-family: FontAwesome;
  vertical-align: top;
}

.profile {
  margin-right: 4%;
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

.profilePic {
  margin-right: 10%;
}

.profileName {
  flex: 0 0 content;
  margin-right: 25%;
}

/* ================== CONTENTS =========================== */
.content {
  margin: 5%;
}

button {
  cursor: pointer;
}

/* ================== Overview =========================== */
.overallOverview {
  border: 2px solid black;
  border-radius: 20px;
  padding: 0 4%;
}

.flex-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

.box {
  display: flex;
  margin: .5%;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
  border-radius: 10px;
  flex: 20%;
  padding: 0 1%;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: left;
}

.row .text {
  flex-grow: 5;
}

.row .icon {
  flex-grow: 1;
}

.selectPeriod {
  margin-left: auto;
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

.selectPeriod .icon {
  margin-right: 10%;
}

.selectPeriod .text {
  flex: 0 0 content;
  margin-right: 25%;
}

/* ================== ORGANIZATION =========================== */

button {
  float: right;
}

.flex-column {
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px 40px;
  margin: 0 30px 40px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border-bottom: 1px solid black;
  margin-bottom: 40px;
}

.memberName {
  margin: 15px 0 0 0;
  text-align: center;
}

.noBorder {
  border: 0;
}

.update {
  display: flex;
  justify-content: end;
  margin-top: -30px;
}

.border-bottom {
  border-bottom: 1px solid black;
  border-radius: 0;
}

.breadcrumb {
  margin: 0;
}

.box-container {
  border: 1px solid black;
  border-radius: 20px;
}

table {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  border-collapse: collapse;
  border-radius: 15px;
  border-style: hidden;
  /* hide standard table (collapsed) border */
  box-shadow: 0 0 0 1px #666;
  padding: 0 20px
}

th,
td {
  padding: 10px;
}

th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}

select {
  border: 0;
}

thead td {
  align-items: center;
}

thead td>div {
  display: flex;
  align-items: center;
  justify-content: left;
}

.filter {
  float: left;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-right: 20px;
}

td input {
  margin: 0;
  width: 50%;
  border: 1px solid black;
  padding: 5px;
}

.filter p {
  margin: 0 0 0 10px;
}

tfoot div {
  display: flex;
  float: right;
}

tfoot button {
  border: 0;
  padding: 5px 20px;
  background-color: white;
}

tfoot td div {
  margin-left: 15px;
}

.buttons div {
  display: flex;
  justify-content: space-evenly;
}


.buttons button {
  border: 1px solid black;
  border-radius: 10px;
  justify-content: space-between;
  background-color: white;
  padding: 5px 20px
}

/* ================== RESIDENTS =========================== */

.Residents_table {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  border-collapse: collapse;
  border-radius: 15px;
  border-style: hidden;
  /* hide standard table (collapsed) border */
  box-shadow: 0 0 0 1px #666;
  padding: 0 20px
}

.resident {
  list-style-type: none;
  margin-top: 40px;
  padding: 0;
  overflow: hidden;
  border-bottom: 1px solid black;
}

.resident li {
  float: left;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-radius: 0 10px 0 0;
  margin-left: -10px;
}

.resident li:first-child {
  border-top: 1px solid black;
  border-left: 1px solid black;
  margin-left: 0px;
  border-radius: 10px 10px 0 0;
}

.resident li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 25px;
  text-decoration: none;
}

.resident .active {
  margin-left: -1px;
  cursor: context-menu;
  border-left: 1px solid black;
  border-radius: 10px 10px 0 0;
}

.center-image {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  padding: 25px 50px;
  text-align: center;
  border-bottom: 1px solid black;
}

.residents-information {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  padding: 0 50px;
}

.residents-information div {
  width: 180px;
}

.residents-information div h4 {
  margin-bottom: 0;
}

.govermentMembership {
  font-weight: normal;
  font-size: large;
}

.relation {
  font-weight: normal;
  font-size: large;
}

.family-box {
  border: 1px solid black;
  border-radius: 15px;
  width: fit-content;
  padding: 25px;
}

h2 img {
  margin-bottom: 15px;
}

h2 p {
  margin: 0;
}

/* ================== MODALS =========================== */

.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-left: 20%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.modal-content {
  border: 2px solid black;
  max-width: 30%;
  height: 450px;
  background-color: white;
  text-align: center;
  justify-content: center;
}

.modal-content-manageOfficials {
  border: 2px solid black;
  width: 500px;
  min-height: 320px;
  background-color: white;
  text-align: left;
  display: inline;
}

.modal-children h4,
.modal-content-manageOfficials h4 {
  padding: 10px 20px;
  margin: 0;
  border-bottom: 2px solid black;
}

.modal-children .flex-row {
  justify-content: space-between;
}

.modal-children .right {
  width: 50%;
  text-align: right;
}

.officials div{
  margin: 25px 
}

.officials input{
  margin: 0;
  margin-top: 10px;
  height: 35px;
  width: 438px;
  cursor: context-menu;
  border-radius: 0;
  border-width: 1px;
}
.officials input:disabled{
  border-color: black;
  background-color: white;
}
.officials .label{
  margin-bottom: 20px;
}

.officials select{
  border: 1px solid black;
  margin-top: 10px;
  height: 35px;
  width: 450px;
}

.officials .buttons button{
  background-color: white;
  padding: 15px;
  margin-left: 40px;
}
.noMargin {
  margin: 0;
  margin: 0 30px
}