#search-container {
    display: grid;
    align-items: center;
    justify-items: left;
    grid-area: search-container;
    padding: 0 20px;
}

#search-container input{
    height: 50px;
    width: 90%;
    border: 1px solid #9C9C9C;
}
