body {
    margin: 0;
    background-color: #F8F8F8;
    position: absolute;
    width: 100%;
    height: 100%;
}

:root {
    --primary: #1aac83;
    --error: #e7195a;
}

@font-face {
    font-family: Roboto;
    src: url(Components/Fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: Spectral;
    src: url(Components/Fonts/Spectral_SC/SpectralSC-Regular.ttf);
}

* {
    font-family: Roboto;
}

.spectral {
    font-family: Spectral;
}

.container {
    margin-left: 250px;
    height: 100%;
    max-width: 100vw;
    min-width: 800px;
    overflow-y: auto;
}

.flex-column {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
}

.contents {
    padding: 24px 20px;
    height: 85%;
}

.bgWhite {
    background-color: white;
    border-radius: 10px;
    padding: 24px;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.center {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.rightAlign {
    align-items: center;
    justify-content: right;
}

.leftAlign {
    justify-content: left;
}

.borderBottom2 {
    border-bottom: 3px solid black;
}

.borderBottom1 {
    border-bottom: 1px solid black;
}

.border {
    border: 1px solid black;
    border-radius: 10px;
}

h1 {
    margin: 0;
    font-size: 44px;
}

h2 {
    margin: 0;
    font-size: 32px;
}

h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.marginTop8 {
    margin-top: 8px;
}

.marginTop {
    margin-top: 16px;
}

.marginBottom {
    margin-bottom: 16px;
}

.paddingBottom {
    padding-bottom: 16px;
}

input {
    font-family: FontAwesome, Roboto;
    border: 1px solid #9C9C9C;
    border-radius: 8px;
    height: 45px;
    margin: 0;
    border-radius: 10px;
    padding: 4px 14px;
    font-size: 16px;
    background-color: white;
}

input:disabled {
    background-color: #D4D4D4;
}

input::-webkit-input-placeholder {
    padding-left: 2px;
    vertical-align: top;
    font-size: 16px;
    color: #63636396;
}

/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #808080;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #B8B8B8;
}

.add {
    padding: 12px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add img {
    margin-right: 8px;
}

/* All textfields border radius */
.MuiInputBase-root {
    border-radius: 8px;
}

/* ================== BUTTONS =========================== */

.solidButton {
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    color: white;
}

.delete {
    color: #808080;
    font-size: 16px;
    font-weight: 500;
    border: 2px solid #808080;
    border-radius: 6px;
    background: white;
}

.delete:hover {
    color: #B8B8B8;
    border: 2px solid #B8B8B8;
}

.squareButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
}

.buttonBlue {
    background: #0C1096;
    border: 2px solid #0C1096;
}

.buttonBlue:disabled {
    background-color: #D0D1FB;
    border: 2px solid #D0D1FB;
}

.buttonBlue:hover:not([disabled]) {
    background: #7175F4;
    border: 2px solid #7175F4;
}

button:hover {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

.buttonGreen {
    background: #35CA3B;
    border: 2px solid #35CA3B;
}

.buttonGreen:hover {
    background: #86DF89;
    border: 2px solid #86DF89;
}

.buttonBrown {
    background: #DBB324;
    border: 2px solid #DBB324;
}

.buttonBrown:hover {
    background: #E9D17C;
    border: 2px solid #E9D17C;
}

.buttonRed {
    background: #D82727;
    border: 2px solid #D82727;
}

.buttonRed:hover {
    background: #E87D7D;
    border: 2px solid #E87D7D;
}

.borderedButton {
    color: #808080;
    font-size: 16px;
    font-weight: 500;
    border: 2px solid #808080;
    border-radius: 6px;
    background: white;
    width: 100px;
    height: 50px;
}

.borderedButton:disabled {
    color: #D4D4D4;
    border: 2px solid #D4D4D4;
    cursor: default;
}

.borderedButton:hover:not([disabled]) {
    color: #B8B8B8;
    border: 2px solid #B8B8B8;
}

/* ================== LOGIN =========================== */
.dashboardLogin {
    background-image: url("./Components/NewImageFiles/LoginBackground.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginForm {
    background-color: white;
    border-radius: 10px;
    padding: 24px;
    height: fit-content;
    width: 390px;
}

.loginHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginHeader h2 {
    font-size: 32px;
}

.loginHeader p {
    margin-bottom: 8px;
    text-align: center;
}

.loginInputContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
}

.loginInputContainer h3 {
    margin-bottom: 8px;
    margin-top: 24px;
}

.loginButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginButton {
    padding: 14px;
    text-align: center;
    background-color: #0C1096;
    color: white;
    font-size: 18px;
    border-radius: 8px;
    border: 2px solid #0C1096;
    width: -webkit-fill-available;
    margin-bottom: 8px;
}

.loginButton:hover {
    background-color: #7175F4;
    border: 2px solid #7175F4;
}

.loginButton:disabled {
    background-color: #D0D1FB;
    border: 2px solid #D0D1FB;
}

.backToWebsite {
    padding: 14px;
    text-align: center;
    background-color: white;
    color: #0C1096;
    font-size: 18px;
    border: 2px solid #0C1096;
    border-radius: 8px;
    width: -webkit-fill-available;
}

.backToWebsite:hover {
    color: #7175F4;
    border-color: #7175F4;
}

.backToWebsite:disabled {
    color: #D0D1FB;
    background-color: #D0D1FB;
}

.forgotPassword {
    color: #0C1096;
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin: 25px 25px 8px;
}

.forgotPassword:hover {
    color: #7175F4;
}

.loginPassword {
    border: 1px solid rgba(0, 0, 0, 0.23);
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 10px 14px;

}

.loginPassword:hover,
.loginPassword:focus-within {
    border-color: #7175F4;
}

.sentIcon {
    width: 48px;
    height: 48px;
    background: #D7F4D8;
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
}

.divError {
    text-align: center;
    padding: 10px;
    background: #ffefef;
    border: 1px solid var(--error);
    color: var(--error);
    border-radius: 8px;
}

.loginError {
    margin: 20px 0;
}

.divLoading {
    text-align: center;
    padding: 10px;
    background: #effff2;
    border: 1px solid var(--primary);
    color: var(--primary);
    border-radius: 8px;
    margin: 20px 0 0;
}

/* ================== MODALS =========================== */

.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    backdrop-filter: blur(10px);
}

.FamModal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.modal-content,
.viewOfficial {
    height: fit-content;
    background-color: white;
    border-radius: 8px;
}

.modal-content {
    padding: 24px;
}

.viewOfficial {
    padding-bottom: 24px;
}

.modalAvatar {
    margin: 16px 0;
}

.details {
    margin: 0;
    padding: 0 24px
}

.exit {
    width: 200px;
    height: 50px;
}

.bottomPartModal {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.bottomPartModal.ModalButtons {
    flex-grow: 1;
}

.bottomPartModal .divError {
    margin-top: 0;
    display: flex;
    align-items: center;
}

.ModalButtons {
    display: flex;
    flex-direction: row-reverse;
}

.ModalButtons .solidButton {
    width: 100px;
    height: 50px;
}

.modalHeader {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    /* margin-bottom: 16px; */
}

.modalHeader h2 {
    font-size: 28px;
}

/* ===================== SIDE BAR ================= */
.sidebar {
    width: 250px;
    position: absolute;
    height: 100%;
    background-color: #0C1096;
    overflow: auto;
}

.sidebar .logo {
    margin: 24px 42px 55px;
    align-items: center;
}

.sidebar .logo img {
    margin-right: 16px;
}

.sidebar .logo p {
    font-family: Spectral;
    color: white;
    font-size: 24px;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.sidebar .active {
    background-color: white;
    border-radius: 10px;
    color: #0C1096;
}

.navLinks {
    align-items: center;
}

.navLinks img {
    margin-right: 13px;
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    color: white;
    margin-bottom: 16px;
}

.sidebar a:hover:not(.active) {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

.navbar {
    padding: 0 24px;
}

@media only screen and (max-height: 799px) {
    .lowerNav {
        border-top: 1px solid white;
        margin-top: 80px;
        padding-top: 16px;
    }
}

@media screen and (min-height: 800px) {
    .lowerNav {
        border-top: 1px solid white;
        padding-top: 16px;
        position: absolute;
        bottom: 24px;
        width: 202px;
    }
}

.messageNotif {
    background-color: #D82727;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    width: 26px;
    height: 26px;
    margin-left: 15px
}

/* ================== TOP BAR =========================== */
@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";

.topbar {
    height: 12%;
    padding: 0 32px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.2);
    flex-wrap: nowrap;
}

.topbar h1,
.topbar p {
    margin: 0;
}

.greetings {
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1366px) {
    .gretings p {
        font-family: Spectral;
        font-size: 24px;
        align-items: center;
        width: 400px;
    }
}

@media screen and (min-width: 1367px) {
    .gretings p {
        font-family: Spectral;
        font-size: 28px;
        align-items: center;
    }
}

.searchBar {
    justify-content: center;
    align-items: center;
}

.profile {
    margin-left: 50px;
    display: flex;
    align-items: center;
}

.profileName h4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    color: #0E0E0E;
}

.profileName p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 160%;
    color: #9C9C9C;
}

/* ================== PROFILE SETTING =========================== */
.profileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profileContainer .name {
    text-align: center;
    margin: 24px;
}

.profileContainer .name h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;
    text-align: center;
}

.profileContainer .name p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #9C9C9C;
}

.profileAvatar {
    position: relative;
    width: 152px;
    height: 152px;
}

.updateProfileButtons {
    display: flex;
    flex-direction: column;
}

.updateProfileButtons button {
    width: 336px;
    height: 53px;
    background: #0C1096;
    border-radius: 8px;
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 500;
    margin-bottom: 16px;
    text-decoration: none;
    border: none;
}

.profileModals {
    width: 340px;
}

.profileModals .email h4 {
    margin: 16px 0 8px 0;
}

.profileModals .password .textfield {
    width: 100%;
    margin: 8px 0 16px 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.profileModals .password .textfield h3 {
    margin-bottom: 8px;
}

.profileModalButtons {
    margin-top: 23px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profileModalButtons button {
    height: 50px;
}

.profileModalButtons .solidButton,
.profileModalButtons .borderedButton {
    width: 160px;
}

/* ================== OVERVIEW =========================== */

.summary {
    background-color: white;
    padding: 24px;
    box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.2);
    border-radius: 8px;
    justify-content: space-between;
}

.summary .flex-row {
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.recentActivity,
.recentMessages {
    flex-grow: 4;
}

.recentActivity {
    margin: 0 24px;
}

.violet {
    display: flex;
    flex-direction: column;
    padding: 24px;
    width: 147px;
    border-radius: 8px;
    background: #D0D1FB;
}

.violet img,
.green img,
.brown img {
    width: 36px;
    height: 36px;
    margin-bottom: 16px;
}

.green {
    display: flex;
    flex-direction: column;
    padding: 24px;
    width: 147px;
    border-radius: 8px;
    background-color: #D7F4D8;
}

.brown {
    display: flex;
    flex-direction: column;
    padding: 24px;
    width: 147px;
    border-radius: 8px;
    background-color: #F8F0D3;
}

.spacer {
    border-left: 2px solid #9C9C9C;
    height: 25px;
    margin: 6px 17px;
}

.recentActivity h2,
.recentMessages h2 {
    margin-bottom: 33px;
}

.recentActivity img,
.recentMessages img {
    margin-right: 16px;
}

.recentActivity p span,
.recentMessages p span {
    font-weight: bold;
    color: #0C1096;
}

.recentActivity .time,
.recentMessages .time {
    font-size: 14x;
    color: #9C9C9C;
    margin-top: 5px;
}

.graph {
    margin-top: 24px;
    background-color: white;
    padding: 24px;
    box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.2);
    border-radius: 8px;
}

.graphHeader {
    margin-bottom: 24px;
}

/* ================== ORGANIZATION =========================== */

.topHeader {
    padding-bottom: 16px;
    margin-bottom: 16px;
}

.bottomHeader {
    margin-bottom: 32px;
}

.export {
    border-radius: 6px;
}

@media only screen and (min-width: 400px) {
    .headerActions div input {
        width: 250px;
    }
}

@media only screen and (min-width: 1200px) {
    .headerActions div input {
        width: 350px;
    }
}

.headerActions .solidButton,
.ModalButtons .solidButton {
    margin-left: 24px;
}

.officialCard {
    width: 240px;
    height: fit-content;
    padding: 24px 0;
    margin: 0 24px 24px 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.2);
    border-radius: 8px;
}

.officialCard .actions {
    margin-top: 24px;
}

.avatar {
    margin-bottom: 16px;
}

.addOfficial .selects {
    width: 48%;
}

.modalheader {
    color: white;
    background-color: #0C1096;
    padding: 10px;
    border-radius: 8px 8px 0 0;
}

.addOfficialDetails .details {
    border: 2px solid #9C9C9C;
    border-radius: 0 0 8px 8px;

}

.addOfficialDetails {
    width: 48%;
    /* border: 2px solid #9C9C9C; */
    /* border-radius: 8px; */
    margin-bottom: 24px;
    padding-left: 0;
}

.addOfficialDetailsHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0 30px;
}

.addOfficialDetailsHeader img {
    height: 100px;
}

.officalModal {
    width: 750px;
    min-height: 400px;
}

/* ================== RESIDENTS =========================== */

table {
    width: 100%;
    margin-top: 30px;
    border-collapse: collapse;
    border-radius: 15px;
    border-style: hidden;
    box-shadow: 0 0 0 1px #9C9C9C;
    background-color: white;
    table-layout: fixed;
}

.Residents_table td:nth-child(3) {
    width: 325px;
}

td:nth-child(4) {
    width: 210px;
}

td:nth-child(1) {
    min-width: 400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

thead td {
    padding: 12px 24px;
    border-bottom: 1px solid #9C9C9C;
    font-weight: 500;
}

tbody td {
    padding: 8px 24px;
    border-bottom: 1px solid #9C9C9C;
    font-size: 16px;
}

tfoot td {
    padding: 8px 24px;
    border: 0;
}

.paginationButton {
    border: 0;
    background-color: white;

}

.disable {
    visibility: hidden;
}

.paginationButtons {
    float: right;
    align-items: center;
}

.pageNumber {
    border: 1px solid white;
    border-radius: 50px;
    background-color: white;
    font-size: 18px;
    width: 40px;
    height: 40px;
    font-weight: 400;
    margin: 0 8px;
}

.activeNumber {
    border: 1px solid #0C1096;
    background-color: #0C1096;
    color: white;
}

.prevButton,
.nextButton {
    margin: 0 15px;
}

.selectDisabled {
    border-radius: 8px;
    background-color: #D4D4D4;
}

.dotGreen {
    height: 8px;
    width: 8px;
    background-color: #35CA3B;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

.dotRed {
    height: 8px;
    width: 8px;
    background-color: #D82727;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

/* ================== RESIDENTS MODAL =========================== */

.residentModals {
    width: 755px;
    padding: 24px
}

.addResidentModals {
    width: 755px;
    padding: 24px
}

.deleteModals {
    width: 400px;
    height: fit-content;
}

.deleteModals p {
    margin: 31px 0 24px 0;
}

.remove {
    background-color: #D82727;
    color: white;
    border-color: #D82727;
}

.uploadAvatar {
    position: absolute;
    bottom: 1px;
    right: 5px;
    background-color: white;
    width: 48px;
    height: 35px;
    padding-top: 13px;
    border-radius: 50px;
    filter: drop-shadow(0px 2px 7px rgba(0, 0, 0, 0.24));
}

/* ================== RESIDENTS MODAL TABS=========================== */
.tab {
    padding: 0 10px;
}

.inputs {
    width: 48%;
    margin-bottom: 24px;
}

.inputs input {
    width: 90%;
}

.tab h4 {
    margin-bottom: 8px;
}

/* ==================  View Family Member =========================== */

.viewFamilyMemberContainer {
    background: #FFFFFF;
    box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.2);
    border-radius: 8px;
    margin-bottom: 24px;
    padding: 24px;
}

/* ================== ANNOUNCEMENT =========================== */

.Announcement_table td:nth-child(2),
.Announcement_table td:nth-child(3) {
    width: 100px;
}

.Announcement_table td:nth-child(4) {
    width: 180px;
}


/* ================== ANNOUNCEMENT MODAL=========================== */

/* description */
.css-8ewcdo-MuiInputBase-root-MuiOutlinedInput-root {
    padding: 0;
}

/* description */
.css-1sqnrkk-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 16.5px 14px;
}

.css-1sqnrkk-MuiInputBase-input-MuiOutlinedInput-input.Mui-disabled {
    background-color: #D4D4D4;
    border-radius: 8px;
}

.announcementModals {
    width: 690px;
}

.addAnnouncement h4 {
    margin-bottom: 8px;
    margin-top: 24px;
}

/* ================== EVENT =========================== */

.eventModals {
    width: 700px;
}

/* tittle */
.Events_table td:nth-child(1) {
    min-width: 90px;
}

/* date */
.Events_table td:nth-child(2) {
    width: 105px;
}

/* time */
.Events_table td:nth-child(3) {
    width: 80px;
}

/* status */
.Events_table td:nth-child(4) {
    width: 80px;
}

/* participants */
.Events_table td:nth-child(5) {
    width: 90px;
}

/* action */
.Events_table td:nth-child(6) {
    width: 176px;
}

.eventModals h4 {
    margin-bottom: 8px;
}

.addArticle {
    height: 270px;
    padding-right: 10px;
}

.uploadArticleBanner {
    margin-top: 8px;
    height: fit-content;
    background: #F8F8F8;
    border: 3px dashed #0C1096;
    border-radius: 9px;
    padding: 24px;
}

input[type="file"] {
    display: none;
}

.fileUpload img {
    margin-right: 30px;
}

.fileUpload h4 {
    font-size: 16px;
}

.fileUpload p {
    font-size: 14px;
    color: #9C9C9C;
}

.fileUpload .upload {
    background-color: #F8F8F8;
    border: 3px solid #0C1096;
    border-radius: 9px;
    padding: 12px 24px;
    height: fit-content;
    width: fit-content;
    font-weight: bold;
    color: #0C1096;
    font-size: 16px;
}

.fileUpload .upload:hover {
    background-color: #F8F8F8;
    border: 3px solid #7175F4;
    color: #7175F4;
}

.fileUploadContent {
    align-items: center;
    justify-content: space-between;
}

/* event banner */
.progress-area,
.uploaded-area {
    padding: 24px 16px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    margin-bottom: 16px;
}

.progress-area {
    border: 2px solid #070A57;
}

.uploaded-area {
    border: 1px solid #C4C4C4;
}

.progress-area .center-div,
.uploaded-area .center-div {
    width: 100%;
    margin: 0 10px
}

/* file name and file size container */
.progress-area .center-div .progress-details,
.uploaded-area .center-div .progress-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* file name */
.progress-area .center-div .progress-details span:nth-child(1),
.uploaded-area .center-div .progress-details span:nth-child(1) {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

/* file size */
.progress-area .center-div .progress-details span:nth-child(2),
.uploaded-area .center-div .progress-details span:nth-child(2) {
    font-weight: 400;
    font-size: 12px;
    color: #636363;
}

.progress-area .progress-bar {
    margin-top: 8px;
    height: 5px;
    width: 100%;
    background-color: rgb(202, 202, 202);
    border-radius: 5px;
}

.progress-area .progress-bar .progress {
    height: 100%;
    background-color: #070A57;
    border-radius: inherit;
}

.uploaded-area .center-div .progress-details {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.uploaded-area .center-div .progress-details .left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.uploaded-area .center-div .progress-details .left div {
    width: 3px;
    height: 3px;
    margin: 0 8px;
    border-radius: 5px;
    background-color: #9C9C9C;
}

.uploaded-area .center-div .progress-details .left button {
    margin-top: 2px;
    background-color: white;
    border: 0;
    color: #0C1096;
    font-weight: 400;
    font-size: 14px;
    padding: 0;
}

/* preview image modal */
.previewImage img {
    max-width: 700px;
    max-height: 500px;
}

.view {
    background-color: #D4D4D4;
}

.view .center-div .progress-details .left button {
    color: #FFFFFF;
    background-color: #D4D4D4;
}

.view .center-div .progress-details .left span {
    color: #636363;
}

.imageIcon {
    background-color: #636363;
    -webkit-mask: url(Components/NewImageFiles/Event/imageIcon.svg) no-repeat center;
    mask: url(Components/NewImageFiles/Event/imageIcon.svg) no-repeat center;
    width: 23px;
}

/* ================== MESSAGES =========================== */

.message-container {
    background-color: white;
    border-radius: 8px;
    display: flex;
    height: 100%;
    width: 100%;
}

.message-container .left {
    border-right: 1px solid #9C9C9C;
    width: 30%;
    display: flex;
    flex-direction: column;
}

.message-container .left .header {
    margin: 24px 24px 50px;
}

.message-container .left .contacts,
.message-container .right .conversation {
    flex-grow: 1;
    padding: 6px 6px 6px 24px;
    margin: 14px 14px 0 0;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.message-container .left .contacts .contactTile {
    position: relative;
    padding: 24px;
    display: flex;
    flex-direction: column;
}

.message-container .left .contacts .contactTile .dot{
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background-color: #0C1096;
    position: absolute;
    top: 45px;
    left: 8px;
}

.message-container .left .contacts .contactTile .contactHeader {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.message-container .left .contacts .contactTile .contactHeader img {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    margin-right: 16px;
}

.message-container .left .contacts .contactTile .contactHeader .centerTop {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}

.message-container .left .contacts .contactTile .messagePreview {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    word-wrap: break-word;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 150%;
}

.message-container .right {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.message-container .right .header {
    display: flex;
    justify-content: space-between;
    padding: 24px;
    box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.2);
}

.message-container .right .header .msgAvatar {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-right: 16px;
}

.message-container .right .header .center {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.message-container .right .conversation .concernSnackBar {
    background-color: #F1F1F1;
    padding: 8px;
    display: inline-flex;
    align-items: center;
    border-radius: 8px;
}

.message-container .right .conversation .user {
    margin-top: 16px;
    max-width: 40%;
    align-self: flex-start;
}

.message-container .right .conversation .user .message {
    margin-bottom: 4px;
    padding: 8px;
    background: #F1F1F1;
    border-radius: 0px 8px 8px 8px;

    word-wrap: break-word;
}

.message-container .right .conversation .admin {
    margin-top: 16px;
    max-width: 40%;
    align-self: flex-end;
}

.message-container .right .conversation .admin .message {
    margin-bottom: 4px;
    padding: 8px;
    background: #0C1096;
    border-radius: 9px 0px 8px 8px;
    word-wrap: break-word;
    color: white
}

.message-container .right .conversation .admin .time,
.message-container .right .conversation .user .time {
    font-size: 14px;
    color: #9C9C9C;
}

.message-container .right .inputfield {
    display: flex;
    align-items: center;
    padding: 16px 24px 24px;
}



/* ================== HELP =========================== */
.help {
    width: 700px;
}

.help li {
    margin-bottom: 24px;
}

.help p {
    margin: 24px 0;
}

.help img:last-child {
    margin-bottom: 24px;
}


/* ================== ACTIVITY LOGS =========================== */
.ActivityLogs_table td:last-child {
    width: 80%;
}

.ActivityLogs_table tbody td,
.Projects_table tbody td {
    padding: 24px;
}

.ActivityLogs_table td:first-child {
    width: 200px;
}

/* ================== PDF Template =========================== */

.PDFTemplate {
    margin: 10px;
}

.PDFTemplate h2 {
    margin-top: 0;
}

.PDFTemplate table td,
.PDFTemplate table th {
    padding: 8px 24px;
    border-bottom: 1px solid #9C9C9C;
    font-size: 16px;
}

.PDFTemplate table {
    page-break-inside: auto
}

.PDFTemplate tr {
    page-break-inside: avoid;
    page-break-after: auto
}

.PDFTemplate thead {
    display: table-header-group
}

.PDFTemplate tfoot {
    display: table-footer-group
}