#chat-form {
  display: flex;
  width: 95%;
  align-content: center;
  align-items: center;
  grid-area: chat-form;
  padding: 24px;
  border-left: 2px solid #9C9C9C;
}

#chat-form input {
  height: 50px;
  width: 90%;
  border: 1px solid #9C9C9C;
}

#chat-form .send{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0C1096;
  width: 56px;
  height: 56px;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 15px;
}
#chat-form .send:hover{
  background-color: #7175F4;
}